<h1>Hello</h1>

<app-user-list></app-user-list>
<app-student-list></app-student-list>
<app-country-list></app-country-list>
<app-login></app-login>
<app-users></app-users>
<h2>{{"rohanprajapti" }}</h2>


<!-- event -->
<button (click)="getData('hello')">Click me</button>
<br><br>
<input type="text" #box (keyup)="getData(box.value)" placeholder="keyUp">
<br><br>
<input type="text" #box2 (keydown)="getData(box2.value)" placeholder="keydown">
<br><br>
<input type="text" #box3 (blur)="getData(box3.value)" placeholder="blur">
<br><br>
<h1 (mouseover)="getData('over')">Rohan Prajapti</h1>
<br>
<h1 (mouseleave)="getData('leave')">My name is..</h1>
<br><br>
<input type="text" #demo placeholder="Enter name" name="Rohan Prajapati">
<button (click)="getValue(demo.value)">Click</button>

<p>
    Box value is : {{displayVal}}
</p>

<!-- counter -->
<button (click)="counter('minus')">--</button>
<p>count:{{count}}</p>
<button (click)="counter('add')">++</button>

<h1 class="heading ">Today I learn About Angular</h1>

<!-- property binding and interpolation -->
<input type="text" name="username" value={{name}} [disabled]="disable">
<br><br>
<input type="text" name="username" [value]="name" [disabled]="disable">


<!-- if else condition -->
<h1>{{title2}}</h1>
<h1 *ngIf="show=='yes'then ifBlock else elseBlock">code step by step</h1>
<ng-template #ifBlock>
    <h1>if condition</h1>
</ng-template>
<ng-template #elseBlock>
    <h1>else condition</h1>
</ng-template>


<!-- multiiple conditions -->
<h1>{{title3}}</h1>
<ng-template [ngIf]="color==='red'">
    <h1 style="color:red">Red color</h1>
</ng-template>
<!-- <ng-template [ngIf]="color===colors.Red">
    <h1 style="color:red">Red color</h1>
</ng-template> -->
<ng-template [ngIf]="color==='green'">
    <h1 style="color:green">Green color</h1>
</ng-template>
<ng-template [ngIf]="color==='blue'">
    <h1 style="color:blue">Blue color</h1>
</ng-template>


<!-- switch case -->
<div [ngSwitch]="color">
    <h1 *ngSwitchCase="'purple'" style="color:purple">purple color</h1>
    <h1 *ngSwitchCase="'violet'" style="color:violet">purple color</h1>
    <h1 *ngSwitchCase="'blue'" style="color:blue">blue color</h1>
    <h1 *ngSwitchCase="'orange'" style="color:orange">orange color</h1>
    <h1 *ngSwitchCase="'darked'" style="color:darkred">darked color</h1>
    <h1 *ngSwitchDefault >unknown</h1>
</div>


<!-- For Loop -->
<h3 *ngFor="let item of users">Name is :{{item}}</h3>
<!-- <h3 *ngFor="let item of userdetails">{{item.name}} ---{{item.phone}}</h3> -->

<button (click)="saveData()">Save Data</button>
<button (click)="loadData()">Load Data</button>
<div *ngIf="session">
    <h1> Id : {{session.id}}</h1>
    <h1> Id : {{session.name}}</h1>
</div>



